{% extends './layout/base.html' %}
{% block content %}

<div class="container">
    <section class="mx-auto my-5"></section>
    <main id="main" class="main">

        <!-- Page Title -->
        <div class="pagetitle">
            <h1>Seller Listing</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('home.homes' ) }}">Home</a></li>
                    <li class="breadcrumb-item active">Seller Listing</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}  mx-auto " role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container">
            <section class="mx-auto my-5">
                <div class="row">
                    {% for dict in properties_data %}
                    <div class="col-md-4 mb-5">
                        <div class="card mb-4" style="max-width: 19rem;">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="{{dict['img_src']}}" class="img-fluid" />
                                <a href="#!"></a>
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold"><a>{{dict['title']}}</a></h5>
                                <p class="card-text">
                                    {{dict['description']}}
                                </p>

                                <hr class="my-4" />
                                <p class="lead"><strong>Overview</strong></p>
                                <p><strong>Rent : </strong> Rs {{dict['rent']}}</p>
                                <p><strong>Type : </strong> {{dict['property_type']}}</p>
                                <a href="/update_property_form/{{dict['id']}}" class="btn btn-primary">Edit</a>
                                <a href="/property_delete/{{dict['id']}}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}



                </div>


    </main><!-- End #main -->

    <!-- home js starts -->
    <script src="{{ url_for('static', filename = 'assets/js/home.js' ) }}"></script>

    <div class="d-flex justify-content-center">
        <!-- Your content here -->
        <nav aria-label="Page navigation example" class="text-center">
            <ul class="pagination">
                {% for page_num in properties_data.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2)
                %}
                {% if page_num %}
                <li class="page-item"><a class="page-link"
                        href="{{ url_for('profile.account',page=page_num  ) }}">{{page_num}}</a></li>
                {% else %}
                ...
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% endblock content%}